<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="org.eun.itec.ambire.teacher.AmbireTeacherTomcatApplication" version="3.0">
  <display-name>AmbireTeacherTomcatApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>slides</servlet-name>
	<jsp-file>/slides.jsp</jsp-file>
  </servlet>
  <servlet-mapping>  
	<servlet-name>slides</servlet-name>  
	<url-pattern>/slides</url-pattern>  
  </servlet-mapping> 
  <listener>
    <listener-class>org.eun.itec.ambire.teacher.Deployment</listener-class>
  </listener>
  <context-param>
    <param-name>Deployment.MAX_GARBAGE_COLLECTION_INTERVAL_MILLIS</param-name>
    <param-value>15000</param-value>
  </context-param>
  <context-param>
    <param-name>Deployment.MAX_UPLOAD_AGE_MILLIS</param-name>
    <param-value>60000</param-value>
  </context-param>
  <context-param>
    <param-name>Deployment.MAX_SESSION_AGE_MILLIS</param-name>
    <param-value>10800000</param-value>
  </context-param>
  <context-param>
    <param-name>Deployment.STORAGE_PROVIDER</param-name>
    <param-value>org.eun.itec.ambire.teacher.LocalFileStorageProvider</param-value>
  </context-param>
  <context-param>
    <param-name>Deployment.DATA_PROVIDER</param-name>
    <param-value>org.eun.itec.ambire.teacher.SqlDataProvider</param-value>
  </context-param>
  <context-param>
    <param-name>SqlDataProvider.CONNECTION_STRING</param-name>
    <param-value>jdbc:mysql://localhost:3306/itecambire</param-value>
  </context-param>
  <context-param>
    <param-name>SqlDataProvider.PASSWORD</param-name>
    <param-value>WP3.taik.fi</param-value>
  </context-param>
  <context-param>
    <param-name>SqlDataProvider.USERNAME</param-name>
    <param-value>itecambire</param-value>
  </context-param>
  <context-param>
    <param-name>AmazonWebServices.ACCOUNT_ID</param-name>
    <param-value>8044-4856-6677</param-value>
  </context-param>
  <context-param>
    <param-name>AmazonWebServices.ACCESS_KEY</param-name>
    <param-value>AKIAI3V4DAFKSPPMC7GA</param-value>
  </context-param>
  <context-param>
    <param-name>AmazonWebServices.SECRET_KEY</param-name>
    <param-value>cd9mEcZgh9G3du87dSZ4T2rY6QjZv8UtTW/zE4+9</param-value>
  </context-param>
  <context-param>
    <param-name>AmazonWebServices.REGION</param-name>
    <param-value>EU_Ireland</param-value>
  </context-param>
  <context-param>
    <param-name>AmazonWebServices.ENDPOINT</param-name>
    <param-value>eu-west-1.amazonaws.com</param-value>
  </context-param>
  <context-param>
    <param-name>AmazonS3StorageProvider.BUCKET</param-name>
    <param-value>itecambire</param-value>
  </context-param>
  <context-param>
    <param-name>AmazonSimpleDBDataProvider.DOMAIN</param-name>
    <param-value>itecambire</param-value>
  </context-param>
  <context-param>
  	<param-name>OpenIDSingleSignOnProvider.PROVIDER_URLS</param-name>
  	<param-value>@gmail.com -> login=https://www.google.com/accounts/o8/id, logout=https://www.google.com/accounts/Logout?continueUrl=*
		@yahoo.com -> login=https://me.yahoo.com, logout=https://login.yahoo.com/config/login?logout=1
	</param-value>
  </context-param>
</web-app>